.buoy-labels
    font-size: 0.6rem
    margin-left: 0.3rem
    background-color: $primary
    padding: 0.15rem
    border-radius: 4px
.buoy-icon
    height: 2rem
    fill: $buoy-icon
.buoy-descriptor
    line-height: 0.4rem
.buoy-info
    margin-top: 1rem