.card
    padding: 1rem
    background-color: $light
    &-header
        box-shadow: none
        &-title
            color: $orange
    &-icon
        margin-right: 0.5rem
    p:not(:last-child)
        margin-bottom: 0
.card-content
    .title
        color: $indigo
    &-description
        margin-top: 1rem

.home-bottom
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
.data-card
  margin-bottom: 2rem

+tablet
    .data-card
        flex-basis: 30%