
// HOME PAGE
.home-grid
    display: grid
    grid-template-areas: ". . center . ."
    grid-template-columns: 1fr 3fr 7fr 3fr 1fr
    grid-template-rows: 30rem
    align-content: center
    justify-content: center
    margin-top: -10%
    padding-top: 10%
    background-image: linear-gradient(#598DAF, #FDBC89, #F8EADE)
    &-center
        display: grid
        align-content: center
        grid-area: center

.home-title-box
    border: 4px solid #598DAF
    padding: 5rem
    text-align: center
    .action-button
        margin-top: 4rem
        z-index: 1000
        @extend .button
        @extend .is-rounded
        @extend .is-warning
        @extend .has-text-dark
        @extend .is-large

.home-bottom
    display: grid
    grid-template-areas: ". . ." ". center ."
    grid-template-columns: 1fr 11fr 1fr
    grid-template-rows: 15rem 25rem
    aling-content: center
    &-center
        grid-area: center
        z-index: 1000

.home-three-columns
    display: grid
    grid-template-areas: "first . second . third"
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr
    &-first
        grid-area: first
    &-second
        grid-area: second
    &-third
        grid-area: third

.map-grid
    display: grid
    grid-template-areas: ". side map ."
    grid-template-columns: 1fr 3fr 6fr 1fr
    grid-template-rows: 30rem
    &-side
        grid-area: side
    &-map
        grid-area: map

.footer-grid
    display: grid
    grid-template-areas: ". . . ." ". section-a section-b ."
    grid-template-columns: 1fr 3fr 6fr 1fr
    grid-template-rows: 6rem 20rem
    &-section-a
        grid-area: section-a
    &-section-b
        grid-area: section-b